* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}


html {
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
    height: 1080px;
    width: 1440px;
}

#main-box {
    width: 904px;
    height: 641px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 36px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 32px;
    padding-left: 32px;
}

#wrap-one {
    height: 100%;
    width: 100%;
    background-color: white;
}
#wrap-two {
    height: 100%;
    width: 52.3%;
    top: 0;
    left: 0;
    position: relative;
}

#image-one {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
}

#left-side {
    height: 100%;
    width: 440px;
    padding-right:  64px;
    padding-top: 71.5px;
    padding-bottom: 71.5px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#stay-updated {
    color: var(--colors-blue-800, #242742);
    font-family: 'Roboto-bold', sans-serif;
    font-size: 56px;
    font-weight: 700;
}

#p-one {
    color: var(--colors-blue-800, #242742);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#p-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
}

.object-rows {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--colors-blue-800, #242742);
}

.img-icon {
    width: 21px;
    height: 21px;
}

#p-three {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#email-address {
    color: var(--colors-blue-800, #242742);
    font-family: 'Roboto-bold', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    
}

#email {
    border-radius: 8px;
    border: 1px solid var(--colors-grey, #949494);
    height: 56px;
    margin-bottom: 16px;
    padding: 16px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--colors-grey, #949494);
}

#btn-subscribe {
    height: 56px;
    border-radius: 8px;
    background: var(--colors-blue-800, #242742);
    color: var(--colors-white, #FFF);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

#btn-subscribe:hover {
    background: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%);
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
    cursor: pointer;
}
#btn-subscribe:active {
    background: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%);
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
    cursor: pointer;
}

.attribution {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 11px;
  color: white; 
  z-index: 10; 
}


#att-anchor {
    color: hsl(228, 45%, 44%)
}

#hidden-span {
    color: var(--colors-red, #FF6155);
    font-family: 'Roboto-bold', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    float: right;
}