* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}


html {
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
    height: 1080px;
    width: 1440px;
}

#box {
    height: 520px;
    width: 504px;
    padding: 60px 64px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
}

#img-icon {
    width: 64px;
    height: 64px;
}

#thanks {
    color: var(--colors-blue-800, #242742);
    font-family: 'Roboto-bold', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    align-self: stretch;
}

#p-one {
    color: var(--colors-blue-800, #242742);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#anchor-one {
    color: var(--colors-blue-800, #242742);
    font-family: 'Roboto-bold', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

#btn-dismiss {
    height: 56px;
    background: var(--colors-blue-800, #242742);
    border-radius: 8px;
    border: none;
    text-align: center;
    color: var(--colors-white, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

#btn-dismiss:hover{
    background: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%);
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
    cursor: pointer;
}
#btn-dismiss:active{
    background: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%);
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
    cursor: pointer;
}

.attribution {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 11px;
  color: white; 
  z-index: 10; 
}


#att-anchor {
    color: hsl(228, 45%, 44%)
}